
  "atom-beautify"
  "emmet"
  "file-icons"
  "git-control"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "linter"
  "linter-ui-default"
  "linter-write-good"
  "minimap"
  "package-sync"
  "python-autopep8"
  "python-indent"
