packages: [
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-clock"
  "atom-material-syntax"
  "atom-monokai"
  "atom-python-run"
  "autoclose-html"
  "busy-signal"
  "click-link"
  "emmet"
  "file-icons"
  "git-control"
  "highlight-selected"
  "Hydrogen"
  "indent-guide-improved"
  "intentions"
  "linter"
  "linter-ui-default"
  "linter-write-good"
  "minimap"
  "multi-wrap-guide"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "python-autopep8"
  "python-indent"
  "sort-lines"
  "zentabs"
]
